mixin cardsList(item)
   
      div(class=" md:w-full w-72 lg:h-500px h-400px round-32px overflow-hidden relative rounded-32px tripCard")
        img(src=item.Dimg, alt="", class="absolute w-full h-full object-cover")
        div(class="rounded-tl-4px rounded-bl-4px px-2 py-1 w-16 h-8 backdrop-filter-blur-4px bg-gray-c2 flex justify-center items-center gap-1 absolute right-0 top-50px")
            img(src="./src/images/Vector (1).svg", alt="")
            p(class="font-bold text-14px text-black-c1 leading-129%%")=item.Dscore
        div(class="h-full w-full backdrop-filter-blur-6px bg-white-smth absolute left-0 lg:top-410px top-330px py-5 2xl:px-8 px-5 duration-500 detailTripCard")
            div(class="grid grid-rows-1fr-auto h-full w-full justify-start")
              div()
                div(class="flex gap-3 justify-between items-center lg:mb-9 mb-4")
                    div
                        p(class="2xl:text-2xl text-lg font-bold leading-120% text-white-c1")=item.Dtitle
                        p(class="2xl:block hidden font-normal text-sm leading-129% text-white-c1")=item.Dtitle2
                    div(class="2xl:py-2 2xl:px-4 py-6px px-3 rounded bg-white-smth")
                        p(class="2xl:text-xl text-base font-bold  leading-120% text-white-c1")=item.Dprice + " $"

                p(class="font-normal text-base leading-150% text-white-c1")=item.Dtext
              div
                a(class="inline-block pl-6 pr-6 pt-3 pb-3 text-base text-white-c1 bg-black-c1 font-semibold cursor-pointer border border-black-c1 rounded hover:bg-white-c1 hover:text-black-c1 duration-500") Программа тура